<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content EL_swap" id="4b9d1823-d6a1-42ca-869a-57fd49e79a77" data-squawk="base" aria-label="Content">
      <div class="wrapper">
        <h1 class="post-title">{{ page.title | escape }}</h1>

          {% if page.toc != false %}
          {% include toc.html html=content h_min=2 h_max=4 ordered=true %}
          {% endif %}

        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    {%- include sub-footer.html -%}

  </body>

</html>
